<div class="cont">
    <div class="titlearea">
        <div class="title">댓글관리</div>
        <div class="nav">스토어관리 > 댓글관리</div>
    </div>
    
    <div class="search_area">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>댓글작성일</th>
                    <td colspan="3">
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div>-</div>
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div class="priod_box">
                            <select class="inputstyle">
                                <option>전체기간</option>
                                <option>1개월</option>
                                <option>2개월</option>
                                <option>3개월</option>
                                <option>4개월</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>닉네임</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>검색어</th>
                    <td  colspan="3">
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="serach_button">검색하기</div>
    </div>
    
    
    <div class="list_all">
        <div class="list_info">
            <div class="count">총 댓글수 : 91건</div>
            <ul class="message_button">
                <li class="lg_button">선택댓글 삭제</li>
            </ul>
        </div>
        
        <table cellpadding="0" cellspacing="0" class="list_table">
            <thead>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>댓글</th>
                    <th>댓글에 달린글</th>
                    <th>삭제</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>flywork@naver.com</th>
                    <th>flywork</th>
                    <td>
                        <div class="stext_info"><span class="blue_text">2018.05.11</span> 오후에 등록됨</div>
                        <div class="btext_cont">
                            댓글내용이 들어가는 곳 입니다. 댓글내용이 들어가는곳<br>
                            댓글내용이 들어가는 곳 입니다. <br>
                            댓글내용이 들어가는 곳 입니다. <br>
                        </div>
                    </td>
                    <td>
                        <div class="btext_cont">
                            파리여행중 맥주마시며 풍경사진 올려요~<br>
                        </div>
                        <div class="stext_info">2018.05.11 오후에 등록됨</div>
                    </td>
                    
                    <th><img src="../images/sub/delete_icon.jpg"></th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>flywork@naver.com</th>
                    <th>flywork</th>
                    <td>
                        <div class="stext_info"><span class="blue_text">2018.05.11</span> 오후에 등록됨</div>
                        <div class="btext_cont">
                            댓글내용이 들어가는 곳 입니다. 댓글내용이 들어가는곳<br>
                            댓글내용이 들어가는 곳 입니다. <br>
                            댓글내용이 들어가는 곳 입니다. <br>
                        </div>
                    </td>
                    <td>
                        <div class="btext_cont">
                            파리여행중 맥주마시며 풍경사진 올려요~<br>
                        </div>
                        <div class="stext_info">2018.05.11 오후에 등록됨</div>
                    </td>
                    
                    <th><img src="../images/sub/delete_icon.jpg"></th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>flywork@naver.com</th>
                    <th>flywork</th>
                    <td>
                        <div class="stext_info"><span class="blue_text">2018.05.11</span> 오후에 등록됨</div>
                        <div class="btext_cont">
                            댓글내용이 들어가는 곳 입니다. 댓글내용이 들어가는곳<br>
                            댓글내용이 들어가는 곳 입니다. <br>
                            댓글내용이 들어가는 곳 입니다. <br>
                        </div>
                    </td>
                    <td>
                        <div class="btext_cont">
                            파리여행중 맥주마시며 풍경사진 올려요~<br>
                        </div>
                        <div class="stext_info">2018.05.11 오후에 등록됨</div>
                    </td>
                    
                    <th><img src="../images/sub/delete_icon.jpg"></th>
                </tr>
                
                
            </tbody>
        </table>
        
        <div class="paging">
            <ul class="paging_list">
                <li class="arrow"><img src="../images/sub/arrow_prev.png"></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li class="arrow"><img src="../images/sub/arrow_next.png"></li>
            </ul>
        </div>
    </div>
    
</div>














<h1>Posts Comments Index</h1>

<form method="get">
    댓글작성일시작: <input type="date" name="startdate"><br>
    댓글작성일끝: <input type="date" name="enddate"><br>
    아이디: <input type="text" name="username" ><br>
    닉네임: <input type="text" name="nickname" ><br>
    검색어: <input type="text" name="content" ><br>
    <input type="submit" value="제출"><br>
</form>

댓글 수: {{commentsCount}}
<form method="POST" name="commentsIndex"> 
    <input type="submit" value="삭제"><br>
    {{#each comments}}    
        <input type="checkbox" name="checked" value={{this.id}} >
        <a href="/stores/comments/{{this.id}}">{{this.content}}</a>
        {{this.createdAt}}
        <br>
    {{/each}}
</form>

<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>