<h1>Messages Index</h1>

<form method="get">
    쪽지발송일시작: <input type="date" name="startdate"><br>
    쪽지발송일일끝: <input type="date" name="enddate"><br>
    아이디: <input type="text" name="username" ><br>
    닉네임: <input type="text" name="nickname" ><br>
    스토어주소: <input type="text" name="url" ><br>
    사업자명: <input type="text" name="companyName" ><br>
    <input type="submit" value="제출"><br>
</form>

쪽지 수: {{messagesCount}}
<form method="POST" name="messagesIndex"> 
    <input type="submit" value="삭제"><br>
    <input type="submit" onclick="chooseAll()" value="전체삭제"><br>

    {{#each messages}}    
        <input type="checkbox" name="checked" value={{this.id}} >
        <a href="/stores/messages/{{this.id}}">{{this.content}}</a>
        {{this.createdAt}}
        <br>
    {{/each}}
</form>

<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>