<div class="cont">
    <div class="titlearea">
        <div class="title">쪽지관리</div>
        <div class="nav">승인관리 > 스토어 관리 > 쪽지관리</div>
    </div>
    
    <div class="search_area">
        <form method="GET">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>쪽지발송일</th>
                    {{>date_search firstday=firstday}}
                </tr>
                
                <tr>
                    <th>아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="username"></input>
                        </div>
                    </td>
                    
                    <th>닉네임</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="nickname"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>스토어주소</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="url"></input>
                        </div>
                    </td>
                    
                    <th>사업자명</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="companyName"></input>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="serach_button">검색하기</div>
    </div>
    
    
    <div class="list_all">
        <div class="list_info">
            <div class="count"><span>스토어발송 {{messagesCount}}</span> ｜ 회원발송 (91)</div>
            <ul class="message_button">
                <li class="lg_button" onclick="document.forms[0].submit()">선택내역 삭제</li>
            </ul>
        </div>
        
        <table cellpadding="0" cellspacing="0" class="list_table">
            <thead>
                <tr>
                    <th><input type="checkbox"></input></th>
                    {{!-- <th>번호</th> --}}
                    {{!-- <th>스토어주소</th> --}}
                    <th>아이디</th>
                    <th>쪽지내용</th>
                    <th>발송대상</th>
                    <th>발송일자</th>
                    
                </tr>
            </thead>
            
            <tbody>
                {{#each messages}}
                <tr>
                    <th><input type="checkbox"></input></th>
                    {{!-- <th>10</th> --}}
                    {{!-- <th>{{senderUrl this.sentMessages}}</th> --}}
                    <th>{{senderUsername this.sentMessages}}</th>
                    <th class="message_title">{{this.content}}</th>
                    <th class="message_num">{{length this.sentMessages}}</th>
                    <th>{{makeDate this.createdAt}}</th>
                </tr>

                	<div class="message_show" style="display:none;">
                        <div class="layer_back_area"></div>
                        <div class="layer_area">
                            <div class="showbox">
                                <div class="showbox_cetearea">
                                    <div class="title">쪽지</div>
                                    <div class="close"><img src="/images/sub/showbox_close.png"></div>
                                </div>
                                
                                <div class="showbox_contents">
                                    <div class="titlearea">
                                        {{!-- <div class="title">쪽지의 간략한 내용이 짧게 뿌려집니다.</div> --}}
                                        <div class="info">{{senderUsername this.sentMessages}}{{makeDate this.createdAt}}</div>
                                    </div>
                                    
                                    <div class="contents">
                                        {{this.content}}
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    
                    
                    <div class="message_list" style="display:none;">
                        <div class="layer_back_area"></div>
                        <div class="layer_area">
                            <div class="showbox">
                                <div class="showbox_cetearea">
                                    <div class="title">쪽지</div>
                                    <div class="close"><img src="../images/sub/showbox_close.png"></div>
                                </div>
                                
                                <div class="showbox_contents">
                                    <div class="titlearea">
                                        <div class="title">대상</div>
                                        <div class="info">스토어·2018.09.02</div>
                                    </div>
                                    
                                    {{!-- <div class="list_cont">
                                        <table class="showbox_list" cellpadding="0" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>아이디</th>
                                                    <th>닉네임</th>
                                                    <th>가입일자</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                <tr>
                                                    <th>55</th>
                                                    <th>flywork@naver.com</th>
                                                    <th>flywork</th>
                                                    <th>2018.09.02</th>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>

                {{/each}}
            </tbody>
        </table>
        
        {{>pages}}
    </div>
    
</div>