<div class="cont">
    <div class="titlearea">
        <div class="title">상품정보</div>
        <div class="nav">스토어 관리 > 상품조회 > 상세</div>
    </div>
    
    <div class="member_view">
        <form method="POST">
        <table cellpadding="0" cellspacing="0" class="de_table" style="margin-top:20px;">
            <tbody>
                <tr>
                    <th>스토어주소</th>
                    <td>{{product.store.url}}</td>
                    
                    <th>아이디</th>
                    <td>{{product.provider.user.username}}</td>
                </tr>
                
                <tr>
                    <th>회원유형</th>
                    <td>{{product.provider.companyType}}</td>
                    
                    <th>사업자명</th>
                    <td>{{product.provider.companyName}}</td>
                </tr>
                
                <tr>
                    <th>카테고리*</th>
                    <td colspan="3">
                        
                        <div class="category_box">
                            <select class="inputstyle">
                                <option>여행상품</option>
                            </select>
                        </div>
                        
                        <div class="category_box">
                            <select class="inputstyle" name="category" id="category">
                                <option value="">선택안함</option> 
                                {{#each categories}}
                                    <option value={{this.id}}>{{this.name}}</option> 
                                {{/each}}
                            </select>
                        </div>
                    </td>
                </tr>
                
                
                
                <tr>
                    <th>* 국가</th>
                    <td>
                        <div class="input_100box">
                            <select class="inputstyle">
                                <option>이탈리아</option>
                                <option>프랑스</option>
                            </select>
                        </div>
                        
                    </td>
                    
                    <th>* 도시</th>
                    <td>
                        <div class="input_100box">
                            <select class="inputstyle">
                                <option>선택하세요</option>
                                <option>밀라노</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
                
                
                
                <tr>
                    <th>상품코드</th>
                    <td>{{product.productcode.code}}</td>
                    
                    
                    <th>상품등록일자</th>
                    <td>{{makeDate product.createdAt}}</td>
                </tr>
                
                <tr>
                    <th>상품명</th>
                    <td>
                        <div class="input_100box">
                            <input class="inputstyle" type="text" value={{product.title}}>
                                
                            </input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>홍보키워드</th>
                    <td colspan="3">
                        {{#each product.tags}}
                        <div class="input_12box"><input type="text" class="inputstyle" value={{this.tag}}></input></div>
                        {{/each}}
                    </td>
                </tr>
                
                <tr>
                    <th>판매상태</th>
                    <td colspan="3">
                        <div class="inline"><input type="checkbox" {{ifchecked product.onSaleChk}}></input> 판매중</div>
                        {{!-- <div class="inline"><input type="checkbox"></input> 판매중지</div> --}}
                    </td>
                </tr>
                
                <tr>
                    <th>전시상태</th>
                    <td colspan="3">
                        <div class="inline"><input type="checkbox" {{ifchecked product.onDisplayChk}}></input> 전시중</div>
                        {{!-- <div class="inline"><input type="checkbox"></input> 전시중지</div> --}}
                    </td>
                </tr>
                
                <tr>
                    <th>상품특성</th>
                    <td colspan="3" >
                        <input type="hidden" value={{product.periodType}} id="checkPeriodType">
                        <div class="inline"><input type="checkbox" id="periodType_A"></input> 기간일자 상품</div>
                        <div class="inline"><input type="checkbox" id="periodType_B"></input> 단일일자 상품</div>
                    </td>
                </tr>
                
                <tr>
                    <th>옵션유형</th>
                    <td colspan="3">
                        <input type="hidden" value={{product.periodType}} id="checkCountType">
                        <div class="inline"><input type="checkbox" id="countType_A"></input> 단일옵션 상품</div>
                        <div class="inline"><input type="checkbox" id="countType_B"></input> 인원옵션 상품</div>
                    </td>
                </tr>
                
                <tr>
                    <th rowspan="3">옵션/가격 *</th>
                    <td colspan="3">
                        <div class="listdg_button">
                            <div class="inline">옵션명</div>
                            
                            <div class="input_80box">
                                <input class="inputstyle" type="text"> </input>
                            </div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div class="listdg_button">
                            <div class="inline">가격</div>
                            
                            
                            <div class="inline">성인</div>
                            <div class="input_8box">
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                                <div class="inline">-</div>
                                
                            <div class="input_8box">	
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                            
                            <div class="input_12box">
                                <input type="text" class="inputstyle"></input>
                            </div>
                            <div class="inline">원</div>
                            
                            
                            <div class="inline">아동</div>
                            <div class="input_8box">
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                                <div class="inline">-</div>
                                
                            <div class="input_8box">	
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                            
                            <div class="input_12box">
                                <input type="text" class="inputstyle"></input>
                            </div>
                            <div class="inline">원</div>
                            
                            
                            
                            <div class="plus_button">
                                <img src="/images/sub/plus_option.png">
                            </div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div class="listdg_button">
                            <div class="inline">가격</div>
                            
                            
                            <div class="inline">성인</div>
                            <div class="input_8box">
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                                <div class="inline">-</div>
                                
                            <div class="input_8box">	
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                            
                            <div class="input_12box">
                                <input type="text" class="inputstyle"></input>
                            </div>
                            <div class="inline">원</div>
                            
                            
                            <div class="inline">아동</div>
                            <div class="input_8box">
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                                <div class="inline">-</div>
                                
                            <div class="input_8box">	
                                <select class="inputstyle">
                                    <option>1명</option>
                                    <option>2명</option>
                                    <option>3명</option>
                                    <option>4명</option>
                                    <option>5명</option>
                                </select>
                            </div>
                            
                            <div class="input_12box">
                                <input type="text" class="inputstyle"></input>
                            </div>
                            <div class="inline">원</div>
                            
                            
                            
                            <div class="plus_button">
                                <img src="/images/sub/plus_option.png">
                            </div>
                        </div>
                    </td>
                </tr>
                
                
                <tr>
                    <th>상품상세설명 *</th>
                    <td colspan="3">
                        <div class="listdg_button">
                            <div class="dg_button">미리보기</div>
                        </div>
                        <div class="mar_t10"><textarea rows="15" class="textareastyle"></textarea></div>
                    </td>
                </tr>
                
                <tr>
                    <th>취소/환불안내 *</th>
                    <td colspan="3">
                        <textarea rows="5" class="textareastyle"></textarea>
                    </td>
                </tr>
                
                
                
                
                
            </tbody>
        </table>
    </div>
    
    <div class="bot_button">
        <div class="bl_button">수정</div>
        <div class="wt_button">삭제</div>
        <div class="wt_button">목록</div>
    </div>
    </form>
</div>