<h1>Prodcts Index</h1>

<form method="get">
    상품등록시작일: <input type="date" name="startdate"><br>
    상품등록끝일: <input type="date" name="enddate"><br>
    상품명: <input type="text" name="title" ><br>
    상품코드: <input type="text" name="productcode" ><br>
    판매상태: <input type="checkbox" name="onSaleChk" checked><br>
    전시상태: <input type="checkbox" name="onDisplayChk" checked><br>
    카테고리: <input type="text" name="category" ><br>
    <input type="submit" value="제출"><br>
</form>

상품수: {{productsCount}}
<form method="POST" name="productsIndex"> 
    <input type="submit" name="delete" value="삭제"><br>
    <input type="submit" name="offSale" value="판매중지"><br>
    <input type="submit" name="onSale" value="판매중"><br>

    {{#each products}}    
        <input type="checkbox" name="checked" value={{this.id}} >
        <a href="/stores/products/{{this.id}}">{{this.title}}</a>
        {{this.createdAt}}
        <br>
    {{/each}}
</form>
