<div class="search_area">
    <form method="get">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>주문일자</th>
                    {{>date_search firstday=firstday startdate=q.startdate enddate=q.enddate}}
                    <td rowspan="4"><div class="serach_button" onclick="document.forms[0].submit()">검색하기</div></td>
                </tr>
                
                <tr>
                    <th>상품명</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" value="{{q.title}}" name="title"></input>
                        </div>
                    </td>
                    
                    <th>주문번호</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" value="{{q.ordercode}}" name="ordercode"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>주문 회원 아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" value="{{q.username}}" name="username"></input>
                        </div>
                    </td>
                    
                    <th>여행자 이름</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="tourname"></input>
                        </div>
                    </td>
                </tr>

                 <tr>
                    <th>주문 회원 이름</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="name" value="{{q.name}}"></input>
                        </div>
                    </td>
                    
                    <th>여행자 핸드폰번호</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" value="{{q.korPhone}}" name="korPhone"></input>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </form>
</div>