<h1>product code index</h1>

<form method="get">
    상품코드: <input type="text" name="productcode"><br>    
    <input type="submit" value="제출"><br>
</form>
<a href="products/add">추가하기</a><br>
상품코드: {{codesCount}}
{{#each codes}}  
    <br>{{this.code}} {{this.categoryId}} {{this.usedChk}}
    <br>{{#each this.serviceUsers}} {{this.korName}}{{/each}}
{{/each}}

<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>