<div class="cont">
			<div class="titlearea">
				<div class="title">쪽지관리</div>
				<div class="nav">스토어관리 > 쪽지관리</div>
			</div>
			
			<div class="search_area">
				<table class="serach_box" cellpadding='0' cellspacing='0'>
					<tbody>
						<tr>
							<th>쪽지수신일</th>
							<td colspan="3">
								<div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
								<div>-</div>
								<div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
								<div class="priod_box">
									<select class="inputstyle">
										<option>전체기간</option>
										<option>1개월</option>
										<option>2개월</option>
										<option>3개월</option>
										<option>4개월</option>
									</select>
								</div>
							</td>
						</tr>
						
						<tr>
							<th>아이디</th>
							<td>
								<div class="mem_inputbox">
									<input type="text" class="inputstyle"></input>
								</div>
							</td>
							
							<th>닉네임</th>
							<td>
								<div class="mem_inputbox">
									<input type="text" class="inputstyle"></input>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="serach_button">검색하기</div>
			</div>
			
			
			<div class="list_all">
				<div class="list_info">
					<div class="count"><span>받은쪽지함(38)</span> ｜ 보낸쪽지함(91)</div>
					<ul class="message_button">
						<li class="lg_button">선택내역 삭제</li>
					</ul>
				</div>
				
				<table cellpadding="0" cellspacing="0" class="list_table">
					<thead>
						<tr>
							<th><input type="checkbox"></input></th>
							<th>번호</th>
							<th>아이디</th>
							<th>닉네임</th>
							<th>쪽지내용</th>
							<th>수신일자</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<th><input type="checkbox"></input></th>
							<th>10</th>
							<th>honggildong@naver.com</th>
							<th>flywork</th>
							<th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>9</th>
							<th>staccatovivace@naver.com</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>8</th>
							<th>flywork@domain.co.kr</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>7</th>
							<th>master@sosohang.co.kr</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>6</th>
							<th>master@sosohang.co.kr</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>5</th>
							<th>staccatovivace@naver.com</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>4</th>
							<th>master@sosohang.co.kr</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>3</th>
							<th>master@sosohang.co.kr</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>2</th>
							<th>master@sosohang.co.kr</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
						
						<tr>
							<th><input type="checkbox"></input></th>
							<th>1</th>
							<th>master@sosohang.co.kr</th>
							<th>flywork</th>
							<th>[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
							<th>2018.09.02</th>
						</tr>
					</tbody>
				</table>
				
				<div class="paging">
					<ul class="paging_list">
						<li class="arrow"><img src="../images/sub/arrow_prev.png"></li>
						<li>1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
						<li>6</li>
						<li>7</li>
						<li>8</li>
						<li>9</li>
						<li class="arrow"><img src="../images/sub/arrow_next.png"></li>
					</ul>
				</div>
			</div>
			
		</div>












<h1>Messages Index</h1>

<form method="get">
    쪽지발송일시작: <input type="date" name="startdate"><br>
    쪽지발송일일끝: <input type="date" name="enddate"><br>
    아이디: <input type="text" name="username" ><br>
    닉네임: <input type="text" name="nickname" ><br>
    스토어주소: <input type="text" name="url" ><br>
    사업자명: <input type="text" name="companyName" ><br>
    <input type="submit" value="제출"><br>
</form>

쪽지 수: {{messagesCount}}
<form method="POST" name="messagesIndex"> 
    <input type="submit" value="삭제"><br>
    <input type="submit" onclick="chooseAll()" value="전체삭제"><br>

    {{#each messages}}    
        <input type="checkbox" name="checked" value={{this.id}} >
        <a href="/stores/messages/{{this.id}}">{{this.content}}</a>
        {{this.createdAt}}
        <br>
    {{/each}}
</form>

<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>