<div class="cont">
	<div class="titlearea">
		<div class="title">게시글정보</div>
		<div class="nav">스토어관리 > 게시글관리 > 게시글정보</div>
	</div>
	
	
	
	<div class="product_write">
		<table cellpadding="0" cellspacing="0" class="de_table">
			<tbody>
				<tr>
					<th>메시지 보낸 일자</th>
					<td>{{message.createdAt}}</td>
					
					<th>스토어주소</th>
					<td>{{store.url}}</td>
				</tr>
				
				<tr>
					<th>작성자아이디</th>
					<td colspan="3">{{sender.username}}</td>
				</tr>
				<tr>
					<th>내용 *</th>
					<td colspan="3">
						<div class="mar_t10"><textarea rows="15" class="textareastyle">{{message.content}}</textarea></div>
					</td>
				</tr>
				<tr>
					<th>첨부파일 *</th>
					<td colspan="3">
						<div class="listdg_button">
							<div class="inline">sosohang.jpg</div>
							<div class="dg_button">다운로드</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div id="mydate"></div>
	</div>
	
	<div class="bot_button">
		{{!-- <div class="bl_button">수정</div> --}}
		<div class="wt_button">	<a href="/stores/messages/{{message.id}}/delete">삭제</a></div>
		<div class="wt_button"><a href="/stores/messages/received">목록</a></div>
	</div>
	
</div>