<h1>Posts Index</h1>

<form method="get">
    개설승인일시작: <input type="date" name="startdate"><br>
    개설승인일끝: <input type="date" name="enddate"><br>
    구분-제목: <input type="text" name="title" ><br>
    구분-내용: <input type="text" name="content" ><br>
    <input type="submit" value="제출"><br>
</form>

게시글 수: {{postsCount}}
<form method="POST" name="postsIndex"> 
    <input type="submit" value="삭제"><br>
    <input type="submit" onclick="chooseAll()" value="전체삭제"><br>

    {{#each posts}}    
        <input type="checkbox" name="checked" value={{this.id}} >
        <a href="/stores/posts/{{this.id}}">{{this.title}}</a>
        {{this.createdAt}}
        <br>
    {{/each}}
</form>

<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>


<script>
    function chooseAll() {
        checkboxes = document.getElementsByName('checked');
        for(i=0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    }
</script>