<div class="cont">
	<div class="titlearea">
		<div class="title">게시글관리</div>
		<div class="nav">스토어관리 > 게시글관리</div>
	</div>
	
	
	<form method="get">
	<div class="search_area">
		<table class="serach_box" cellpadding='0' cellspacing='0'>
			<tbody>
				<tr>
					<th>등록일</th>
					{{>date_search firstday=firstday startdate=q.startdate enddate=q.enddate}}
                    <td rowspan="2"><div class="serach_button" onclick="document.forms[0].submit()">검색하기</div></td>
				</tr>
				
				<tr>
					<th>구분</th>
					<td>
						{{>querySelect}}
					</td>
				</tr>
			</tbody>
		</table>
		
	
	</div>
	</form>
	
	
	
	
	
	
	<div class="list_all">
		<div class="list_info">
			<div class="count">전체게시글수 : {{postsCount}}개</div>
			<ul class="message_button">
				<li class="lg_button"><input type="submit" onclick="chooseAll()" value="전체삭제"></li>
				<li class="wh_button"><input type="submit" value="삭제"></li>	
			</ul>
		</div>
		
		<table cellpadding="0" cellspacing="0" class="list_table">
			<thead>
				<tr>
					<th><input type="checkbox"></input></th>
					<th>번호</th>
					<th>제목</th>
					<th>내용</th>
					<th>작성자아이디</th>
					<th>등록일자</th>
				</tr>
			</thead>
			
			<tbody>
				{{#each posts}}
					<tr>
						<th><input type="checkbox" name="checked" value={{this.id}} ></th>
						<th>1</th>
						<th><a href="/stores/posts/{{this.id}}">{{this.title}}</a></th>
						<th><a href="/stores/posts/{{this.id}}">{{this.content}}</a></th>
						<th>{{this.author.username}}</th>
						<th>{{makeDate this.createdAt}}</th>
					</tr>
				{{/each}}				
			</tbody>
		</table>
		
		{{>pages}}
	</div>
	
	
	
</div>