<div class="cont">
			<div class="titlearea">
				<div class="title">게시글정보</div>
				<div class="nav">스토어관리 > 게시글관리 > 게시글정보</div>
			</div>
			
			
			
			<div class="product_write">
				<form method="POST">
				<table cellpadding="0" cellspacing="0" class="de_table">
					<tbody>
						<tr>
							<th>게시글 등록일자</th>
							<td colspan="3">2018-09-02</td>
						</tr>
						
						<tr>
							<th>작성자아이디</th>
							<td>{{author.username}}</td>
							<th>회원유형</th>
							<td>{{author.userStatus}}</td>
						</tr>
						
						
						<tr>
							<th>제목 *</th>
							<td colspan="3">
								<div class="input_100box"><input type="text" class="inputstyle" name="title" value={{post.title}}></input></div>
							</td>
						</tr>
					
						{{!-- <tr>
							<th>카테고리*</th>
							<td colspan="3">
								<div class="category_box">
									<select class="inputstyle">
										<option>{{}}</option>
									</select>
								</div>
							</td>
						</tr>
						 --}}
						
						<tr>
							<th>내용 *</th>
							<td colspan="3">
								<div class="mar_t10"><textarea rows="15" name="content" class="textareastyle">{{post.content}}</textarea></div>
							</td>
						</tr>
						
						<tr>
							<th>첨부파일 *</th>
							<td colspan="3">
								<div class="listdg_button">
									<div class="inline">sosohang.jpg</div>
									<div class="dg_button">다운로드</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div id="mydate"></div>
			</div>
			
			{{>modify_delete id=post.id url='/stores/posts' }}
			{{!-- <div class="bot_button">				
				<div class="wt_button" onclick="document.locatione.href='/stores/posts'">목록</div>
				<div class="wt_button" onclick="document.location.href='/stores/posts/{{post.id}}/delete'">삭제</div>
				<div class="wt_button" onclick="document.forms[1].submit()">수정</div>
			</div> --}}
			</form>
		</div>

