<h1>Product Show Page</h1>

<br>{{product.title}}
<br>{{productcode.code}}
<br>{{category.name}}
<br><br>
{{#each cities}}
    <br>{{this.city}}
{{/each}}

<br><br>
{{#each nations}}
    <br>{{this.nation}}
{{/each}}

<br><br>
{{#each tags}}
    <br>{{this.tag}}
{{/each}}