<div class="cont">
	<div class="titlearea">
		<div class="title">발주확인</div>
		<div class="nav">주문/클레임관리 > 발주확인</div>
	</div>
	
	{{>order_query}}
	
	
	<div class="list_all">
		<form method="POST">
		<div class="list_info">
			<div class="count">총 주문내역 : {{ordersCount}}건</div>
			<ul class="message_button">
				<li class="wh_button">엑셀다운로드</li>
				<li class="lg_button denyChk">예약취소</li>
			</ul>
		</div>
		
		<table cellpadding="0" cellspacing="0" class="list_table">
		
			<colgroup>
				<col style="width:3%;">
                <col style="width:5%;">
                <col style="width:70%;">
                <col style="width:11%;">
                <col style="width:11%;">
				
			</colgroup>
		
		
			<thead>
				<tr>
					<th><input type="checkbox" onclick="chooseAll()"></input></th>
					<th>번호</th>
					<th>주문내역</th>
					<th>주문자 이름 /<br> 아이디</th>
					<th>상태</th>
					
				</tr>
			</thead>
			{{!-- {{orders}} --}}
			<tbody>
				
				{{#each orders}}
				<tr>
					<th><input type="checkbox"></input></th>
					<td>
						<div class="order_info_box">
							<div class="order_info">
								주문번호 : {{this.ordercode.code}} ｜ 주문일자 : {{makeDate this.createdAt}}<br>
								결제수단 : {{this.payinfo.measure}} 입금인 : {{this.payInfo.name}}
							</div>
								
							<div class="all_price">총 결제금액 {{this.price}}</div>
						</div>
						
						<div class="order_pro_info">
							<div class="thum"><img src="{{this.product.imagePath}}"></div>
							<div class="textarea">
								<div class="pro_title">{{this.product.title}}</div>
								<ul class="option_list">
									<li>예약일자 : {{this.startdate}}</li>
									<li>선택옵션 : {{this.option}}</li>
								</ul>
								<div class="info_view"><a href="/orders/users/{{this.id}}">서비스이용자 정보보기</a></div>
							</div>
						</div>
					</td>
					
					<th>
						{{this.buyer.name}}<br>
						{{this.buyer.username}}
					</th>
					
					<th>{{denyChk this.orderStatus.placeChk}}<br>{{makeDate this.orderStatus.placeDate}}</th>
					
				</tr>
				{{/each}}
			</tbody>
		</table>
			
			{{>pages}}
		</div>
	
	</div>
</div>