<div class="cont">
    <div class="titlearea">
        <div class="title">회원상세</div>
        <div class="nav">회원관리 > 일반회원 > 회원상세</div>
    </div>
    
    <div class="member_view">
        <form action="POST">
        <table cellpadding="0" cellspacing="0" class="de_table">
            <tbody>
                <tr>
                    <th>개설 승인일자</th>
                    <td>{{makeDate store.approvalDate}}</td>
                    
                    <th>닉네임</th>
                    <td>{{user.nickname}}</td>
                </tr>
                
                <tr>
                    <th>로그인 횟수</th>
                    <td>{{user.loginCnt}}</td>
                    
                    <th>최종로그인</th>
                    <td>{{makeDate user.loginDate}}</td>
                </tr>
                
                <tr>
                    <th>사업자명</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.companyName}}></input>
                        </div>
                    </td>
                    
                    
                    <th>사업자등록번호</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.companyNumber}}></input>
                        </div>
                        {{!-- <div class="input_12box">
                            <input type="text" class="inputstyle" value="580"></input>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_12box">
                            <input type="text" class="inputstyle" value="03"></input>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="00133"></input>
                        </div> --}}
                    </td>
                </tr>
                
                <tr>
                    <th>아이디</th>
                    <td>{{user.username}}</td>
                    
                    <th>회원유형</th>
                    <td>{{setCompanyType provider.companyType}}</td>
                </tr>
                
                <tr>
                    <th>스토어 주소</th>
                    <td colspan="3">www.sosohang.com/{{store.url}}</td>
                </tr>
                
                <tr>
                    <th>대표자명</th>
                    <td>{{provider.CEO}}</td>
                    
                    <th>법인등록번호</th>
                    <td>{{provider.corporateNumber}}</td>
                </tr>
                
                <tr>
                    <th>업태</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.businessType}}></input>
                        </div>
                    </td>
                    
                    <th>업종</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.businessCategory}}></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>통신판매업신고번호</th>
                    <td colspan="3">
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.commuNumber}}></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>대표전화번호</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.CEONumber}}></input>
                        </div>
                        {{!-- <div class="input_25box">
                            <select class="inputstyle">
                                <option>031</option>
                                <option>032</option>
                            </select>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="906"></input>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="0149"></input>
                        </div> --}}
                    </td>
                    
                    <th>팩스번호</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.faxNumber}}></input>
                        </div>
                        {{!-- <div class="input_25box">
                            <select class="inputstyle">
                                <option>031</option>
                                <option>032</option>
                            </select>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="906"></input>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="0149"></input>
                        </div> --}}
                    </td>
                </tr>
                
                
                
                <tr>
                    <th>담당자</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.staffName}}></input>
                        </div>
                    </td>
                    
                    <th>담당자 전화번호</th>
                    <td>
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value={{provider.staffNumber}}></input>
                        </div>
                        {{!-- <div class="input_25box">
                            <select class="inputstyle">
                                <option>031</option>
                                <option>032</option>
                            </select>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="906"></input>
                        </div>
                        
                        <div class="inline"> -</div>
                        
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="0149"></input>
                        </div> --}}
                    </td>
                </tr>
                
                
                <tr>
                    <th>출금신청 입금계좌</th>
                    <td colspan="3">
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value={{provider.accountNumber}}></input>
                        </div>
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value={{provider.accountName}}></input>
                        </div>
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value={{provider.accountBank}}></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>*중계 수수료 방식</th>
                    <td>
                        <div class="inline">
                            <input type="radio" checked></input> 월정액
                        </div>
                        <div class="inline">
                            <input type="radio"></input> 판매수수료
                        </div>
                        
                        <div class="inline">
                            <input type="radio"></input> 월정액 + 판매수수료
                        </div>
                    </td>	
                    
                    
                    <th>*적용요율(비용)</th>
                    <td>
                        <div class="input_25box">
                            <input type="text" class="inputstyle" value="906"></input>
                        </div>
                        <div class="inline"> 원</div>
                    </td>
                    
                
                {{!-- <tr>
                    <th>*sms 수신동의</th>
                    <td colspan="3">
                        
                        <div class="inline">
                            <input type="radio" checked></input> 수신동의
                        </div>
                        
                        <div class="inline">
                            <input type="radio"></input> 수신하지 않음
                        </div>
                    </td>	
                </tr>

                <tr>
                    <th>*이메일 수신동의</th>
                    <td colspan="3">
                        
                        <div class="inline">
                            <input type="radio" checked></input> 수신동의
                        </div>
                        
                        <div class="inline">
                            <input type="radio"></input> 수신하지 않음
                        </div>
                    </td>	
                </tr> --}}
                
               
            </tbody>
        </table>
    </div>
    
    <div class="bot_button">
         <div class="wt_button inline" ><a href="/members/stores/{{store.id}}">스토어 수정하러 가기</a></div>
         <div class="wt_button inline" ><a href="/members/users/{{user.id}}">회원정보 수정하러 가기</a></div>
    </div>
    
{{!--     
    <div class="member_view">
        <table cellpadding="0" cellspacing="0" class="de_table">
            <tbody>
                <tr>
                    <th>스토어주소</th>
                    <td>abcde(플라이워크)</td>
                    
                    <th>가입회원수</th>
                    <td>32명</td>
                </tr>
                
                <tr>
                    <th>* 스토어소개</th>
                    <td colspan="3">
                        <div class="input_100box">
                            <input type="text" class="inputstyle" placeholder="스토어소개글"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>스토어로고이미지</th>
                    <td>
                        <div class="compulsory_img">
                            <div class="image"><img src="/images/sub/ex_img.jpg"></div>
                        </div>
                    </td>
                    
                    
                    <th>스토어 대표이미지</th>
                    <td>
                        <div class="compulsory_img">
                            <div class="image"><img src="/images/sub/ex_img.jpg"></div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th rowspan="3">* 국가 / 도시선택</th>
                    <td colspan="3">
                        <div class="input_25box">
                            <select class="inputstyle">
                                <option>이탈리아</option>
                                <option>프랑스</option>
                            </select>
                        </div>
                        
                        <div class="input_25box">
                            <select class="inputstyle">
                                <option>선택하세요</option>
                                <option>밀라노</option>
                            </select>
                        </div>
                        
                        <div class="inline">로마; 나폴리; 밀라노; 베네치아; 볼로냐</div>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div class="input_25box">
                            <select class="inputstyle">
                                <option>프랑스</option>
                                <option>이탈리아</option>
                            </select>
                        </div>
                        
                        <div class="input_25box">
                            <select class="inputstyle">
                                <option>선택하세요</option>
                                <option>파리</option>
                            </select>
                        </div>
                        
                        <div class="inline">전체;</div>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <div class="input_25box">
                            <select class="inputstyle">
                                <option>프랑스</option>
                                <option>이탈리아</option>
                            </select>
                        </div>
                        
                        <div class="input_25box">
                            <select class="inputstyle">
                                <option>선택하세요</option>
                                <option>파리</option>
                            </select>
                        </div>
                        
                        <div class="inline">전체;</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>            --}}
                
    {{>modify_delete id=provider.id url='/members/providers' }}
    </form>
</div>