<h1>PROVIDERS_SHOW</h1>

{{!-- <form method="post">
    <input type="text" name="username" value="{{user.username}}">
    <input type="text" name="nickname" value="{{user.nickname}}">
    <input type="text" name="phone" value="{{user.phone}}">
    <input type="submit" value="제출">
    <a href="{{user.id}}/delete">탈퇴</a>
</form> --}}

provider:
<br>{{provider.companyName}}
<br>{{provider.companyName}}
<br>{{provider.companyNumber}}
<br>{{provider.companyType}}
<br>{{provider.CEO}}
<br>{{provider.corporateNumber}}
<br>{{provider.busniessType}}
<br>{{provider.businessCategory}}
<br>{{provider.commuNumber}}
<br>{{provider.CEONumber}}
<br>{{provider.faxNumber}}
<br>{{provider.staffName}}
<br>{{provider.staffNumber}}
<br>{{provider.accountNumber}}
<br>{{provider.accountName}}
<br>{{provider.accountBank}}
<br>{{provider.rateType}}
<br>{{provider.monthFee}}
<br>{{provider.commission}}
<br>{{provider.createdAt}}
<br>{{provider.storeCnt}}
<br><br>user: 
<br>{{user.username}}
<br>{{user.email}}
<br>{{user.nickname}}
<br>{{user.phone}}
<br>{{user.createdAt}}
<br>{{user.updatedAt}}
<br>{{user.loginDate}}
<br>{{user.loginCnt}}
<br>{{user.recEmail}}
<br>{{user.recSMS}}

<br><br>stores:
{{#each stores}}
    <br>{{this.url}}
    <br>{{this.membersCnt}}
    <br>{{this.introduction}}
    <br>{{this.storeLogoPath}}
    <br>{{this.storeImgPath}}

{{/each}}