<div class="cont">
    <div class="titlearea">
        <div class="title">스토어정보</div>
        <div class="nav">회원관리 > 스토어정보</div>
    </div>
    
    <div class="search_area">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>회원가입일</th>
                    <td colspan="3">
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div>-</div>
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div class="priod_box">
                            <select class="inputstyle">
                                <option>전체기간</option>
                                <option>1개월</option>
                                <option>2개월</option>
                                <option>3개월</option>
                                <option>4개월</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>스토어주소</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>사업자명</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>회원유형</th>
                    <td>
                        <div class="mem_inputbox">
                            <select class="inputstyle">
                                <option>전체회원</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="serach_button">검색하기</div>
    </div>
    
    
    <div class="list_all">
        <div class="list_info">
            <div class="count">전체 스토어 수 : 93명</div>
            <ul class="message_button">
                <li class="wh_button">선택스토어 삭제</li>
            </ul>
        </div>
        
        <table cellpadding="0" cellspacing="0" class="list_table">
            <thead>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>번호</th>
                    <th>회원유형</th>
                    <th>스토어명</th>
                    <th>회원수</th>
                    <th>아이디</th>
                    <th>사업자명</th>
                    <th>개설승일자</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>플라이워크</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>국내_일반</th>
                    <th>플라이워크</th>
                    <th>12,342명</th>
                    <th>master@sosohang.co.kr</th>
                    <th>-</th>
                    <th>2018.09.02</th>
                </tr>
            </tbody>
        </table>
        
        <div class="paging">
            <ul class="paging_list">
                <li class="arrow"><img src="../images/sub/arrow_prev.png"></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li class="arrow"><img src="../images/sub/arrow_next.png"></li>
            </ul>
        </div>
    </div>
    
</div>
















<h1>STORES_INDEX</h1>

<form method="get">
    개설승인일시작: <input type="date" name="startdate"><br>
    개설승인일끝: <input type="date" name="enddate"><br>
    아이디: <input type="text" name="username" ><br>
    스토어주소: <input type="text" name="url" ><br>
    사업자명: <input type="text" name="companyName" ><br>
    회원유형: <input type="text" name="companyType" ><br>
    <input type="submit" value="제출"><br>
</form>

스토어수: {{storesCnt}}
<form method="POST" name="storesIndex"> 
    <input type="submit" value="선택삭제"><br>

    {{#each stores}}    
        <input type="checkbox" name="checked" value={{this.id}} >
        <a href="stores/{{this.id}}">{{this.name}}</a>
        {{this.url}}
        {{this.memberCnt}}
        {{this.approvalDate}}
        <br>
    {{/each}}
</form>

<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>

