<div class="cont">
    <div class="titlearea">
        <div class="title">스토어정보</div>
        <div class="nav">회원관리 > 스토어정보</div>
    </div>
    
    <div class="member_view">
        <form method="POST">
        <div class="search_title">
            <div class="title">스토어정보</div>
        </div>
    
        <table cellpadding="0" cellspacing="0" class="de_table" style="margin-top:20px;">
            <tbody>
                <tr>
                    <th>스토어명</th>
                    <td>{{store.name}}</td>
                    
                    <th>가입회원수</th>
                    <td>{{store.memberCnt}}</td>
                </tr>
                
                <tr>
                    <th>* 스토어소개</th>
                    <td colspan="3">
                        <div class="input_100box">
                            <input type="text" class="inputstyle" value="{{store.introduction}}"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>스토어로고이미지</th>
                    <td>
                        <div class="compulsory_img">
                            <div class="image">`</div>
                        </div>
                    </td>
                    
                    
                    <th>스토어 대표이미지</th>
                    <td>
                        <div class="compulsory_img">
                            <div class="image"><img src="/images/sub/ex_img.jpg"></div>
                        </div>
                    </td>
                </tr>
                {{!-- {{cities}} --}}
                {{#each nations}}
                <tr>
                    <th rowspan="1">* 국가 / 도시선택</th>
                    <td colspan="3">
                        <div class="input_12box">
                            {{this.nation}}
                        </div>      

                        {{#each ../cities}}   
                            {{selectCities this ../this.id}}
                        {{/each}}
                    </td>
                </tr>
                {{/each}}

                <tr>
                    <th>업로드 파일</th>
                    <td></td>
                </tr>                
                
            </tbody>
        </table>
        
        <div class="bot_button">
            <div class="dg_button" ><a href="/members/providers/{{provider.id}}">스토어회원 수정하러 가기</a></div>
        </div>

        {{>modify_delete id=store.id url='/members/stores' }}
        </form>
    </div>
    
    
    
    <div class="list_all">
        <div class="search_title">
            <div class="title">회원정보</div>
        </div>
    
        
        <table cellpadding="0" cellspacing="0" class="list_table">
            <thead>
                <tr>
                    <th><input type="checkbox"></input></th>
                    {{!-- <th>번호</th> --}}
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>스토어가입일자</th>
                    <th>스토어방문횟수</th>
                    <th>주문건수</th>
                    <th>최종방문일자</th>
                </tr>
            </thead>
            
            <tbody>
                {{#each store.users}}
                <tr>
                    <th><input type="checkbox"></input></th>
                    {{!-- <th>20</th> --}}
                    <th><a href="/members/users/{{this.id}}">{{this.username}}</a></th>
                    <th><a href="/members/users/{{this.id}}">{{this.nickname}}</a></th>
                    <th><a href="/members/users/{{this.id}}">{{makeDate this.StoreUsers.createdAt}}</a></th>
                    <th><a href="/members/users/{{this.id}}">{{this.StoreUsers.visitCnt}}</a></th>
                    <th><a href="/members/users/{{this.id}}">{{this.StoreUsers.orderCnt}}</a></th>
                    <th><a href="/members/users/{{this.id}}">{{makeDate this.StoreUsers.visitDate}}</a></th>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
        
        {{>pages}}
    </div>
    
</div>
