<div class="cont">
    <div class="titlearea">
        <div class="title">스토어정보</div>
        <div class="nav">회원관리 > 스토어정보</div>
    </div>
    
    <div class="search_area">
        <form method="get">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>회원가입일</th>
                    {{>date_search firstday=firstday}}
                </tr>
                
                <tr>
                    <th>스토어주소</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="url" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="username" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>사업자명</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="companyName" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>회원유형</th>
                    <td>
                        <div class="mem_inputbox">
                            <select class="inputstyle" name="companyType">
                                <option value="">전체회원</option>
                                <option value="A">국내_일반</option>
                                <option value="B">국내_사업자</option>
                                <option value="C">해외_일반</option>
                                <option value="D">해외_사업자</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {{!-- <input type="submit" value="검색하기"> --}}
        <div class="serach_button" onclick="document.forms[0].submit()">검색하기</div>
        </form>
        
    </div>
    
    
    <div class="list_all">
        <form method="POST">
        <div class="list_info">
            <div class="count">전체 스토어 수 : {{storesCnt}}명</div>
            <ul class="message_button">
                <li class="wh_button"><input type="submit" value="선택삭제"></li>
            </ul>
        </div>
        
        <table cellpadding="0" cellspacing="0" class="list_table">
            <thead>
                
                <tr>
                    <th><input type="checkbox" onclick="chooseAll()"></input></th>
                    <th>번호</th>
                    <th>회원유형</th>
                    <th>스토어명</th>
                    <th>회원수</th>
                    <th>아이디</th>
                    <th>사업자명</th>
                    <th>개설승일자</th>
                </tr>
                
            </thead>
            
            <tbody>
                {{#each stores}} 
                
                <tr>
                    <th><input name="checked" value={{this.id}} type="checkbox"></input></th>
                    <th>10</th>
                    <th><a href="/members/stores/{{this.id}}">{{this.provider.companyType}}</a></th>
                    <th><a href="/members/stores/{{this.id}}">{{this.provider.companyName}}</a></th>
                    <th><a href="/members/stores/{{this.id}}">{{this.memberCnt}}</a></th>
                    <th><a href="/members/stores/{{this.id}}">{{this.provider.user.username}}</a></th>
                    <th><a href="/members/stores/{{this.id}}">{{this.provider.companyName}}</a></th>
                    <th><a href="/members/stores/{{this.id}}">{{makeDate this.approvalDate}}</a></th>
                </tr>
                
                {{/each}}
            </tbody>
        </table>
        </form>
        
        {{>pages}}
    </div>
    
</div>