<div class="cont">
    <div class="titlearea">
        <div class="title">일반회원</div>
        <div class="nav">회원관리 > 일반회원</div>
    </div>
    
    <div class="search_area">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>회원가입일</th>
                    <td colspan="3">
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div>-</div>
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div class="priod_box">
                            <select class="inputstyle">
                                <option>전체기간</option>
                                <option>1개월</option>
                                <option>2개월</option>
                                <option>3개월</option>
                                <option>4개월</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>닉네임</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>메일링수신 / SMS수신</th>
                    <td colspan="3">
                        <div class="inline">
                            <input type="radio"></input> 메일링
                        </div>
                        <div class="inline">
                            <input type="radio"></input> SMS
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="serach_button">검색하기</div>
    </div>
    
    
    <div class="list_all">
        <div class="list_info">
            <div class="count">전체회원수 : 93명 · 메일링수신 : 23명 · SMS수신 : 14명</div>
            <ul class="message_button">
                <li class="lg_button">전체회원 쪽지발송</li>
                <li class="wh_button">선택회원 쪽지발송</li>
            </ul>
        </div>
        
        <table cellpadding="0" cellspacing="0" class="list_table">
            <thead>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>가입일자</th>
                    <th>최종로그인</th>
                    <th>로그인 횟수</th>
                    <th>가입스토어</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>honggildong@naver.com</th>
                    <th>flywork</th>
                    <th>2018.09.02</th>
                    <th>2018.09.02</th>
                    <th>54회</th>
                    <th>2개</th>
                </tr>
            </tbody>
        </table>
        
        <div class="paging">
            <ul class="paging_list">
                <li class="arrow"><img src="../images/sub/arrow_prev.png"></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li class="arrow"><img src="../images/sub/arrow_next.png"></li>
            </ul>
        </div>
    </div>
    
</div>


<h1>USERS_INDEX</h1>

<form method="get">
    시작날짜: <input type="date" name="startdate"><br>
    끝날짜: <input type="date" name="enddate" value={{today}}><br>
    아이디: <input type="text" name="username" ><br>
    닉네임: <input type="text" name="nickname" ><br>
    이메일수신: <input type="checkbox" name="recEmail" checked><br>
    SMS수신: <input type="checkbox" name="recSMS" checked><br>
    <input type="submit" value="제출"><br>
</form>

회원수: {{usersCount}}
<form method="POST" name="usersIndex"> 
    <input type="submit" onclick="chooseAll()" value="전체회원 쪽지발송">
    <input type="submit" value="선택회원 쪽지발송"><br>

    {{#each users}}    
        <input type="checkbox" name="checked" value={{this.id}} >
        <a href="users/{{this.id}}">{{this.nickname}}</a>
        {{this.createdAt}}
        {{this.loginDate}}
        {{this.loginCnt}}
        <br>
    {{/each}}
</form>

{{!-- pagination 쿼리 append형식으로 다시하기 --}}
<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>


<script>
    function chooseAll() {
        checkboxes = document.getElementsByName('checked');
        for(i=0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    }
</script>