<div class="cont">
    <div class="titlearea">
        <div class="title">일반회원</div>
        <div class="nav">회원관리 > 일반회원</div>
    </div>
    
    <div class="search_area">
         <form method="get">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>회원가입일</th>
                    {{>date_search firstday=firstday}}
                </tr>
                
                <tr>
                    <th>아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="username" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>닉네임</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="nickname" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>메일링수신 / SMS수신</th>
                    <td>
                        <div class="inline">
                            <input type="checkbox" name="recEmail" checked> 메일링
                        </div>
                        <div class="inline">
                            <input type="checkbox" name="recSMS" checked> SMS
                        </div>
                    </td>

                    <th>회원유형</th>
                    <td>
                        <div class="mem_inputbox">
                            <select type="text" name="companyType" class="inputstyle">
                                <option>전체회원</option>
                                <option>일반회원</option>
                                <option>휴면회원</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="serach_button" onclick="document.forms[0].submit()">검색하기</div>
        </form>
    </div>
    
    
    <div class="list_all">
        <form method="POST" name="usersIndex"> 
            <div class="list_info">
                <div class="count">전체회원수 : {{usersCount}}명 </div>
                {{!-- · 메일링수신 : 23명 · SMS수신 : 14명 --}}
                <ul class="message_button">
                    {{!-- <li class="lg_button"><input type="submit" onclick="chooseAll()" value="전체회원 쪽지발송"></li> --}}
                    <li class="wh_button"><input type="submit" value="선택회원 삭제"></li>
                </ul>
            </div>
            
            <table cellpadding="0" cellspacing="0" class="list_table">
                <thead>
                    <tr>
                        <th><input type="checkbox" onclick="chooseAll()"></input></th>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>닉네임</th>
                        <th>가입일자</th>
                        <th>최종로그인</th>
                        <th>로그인 횟수</th>
                        {{!-- <th>가입스토어</th> --}}
                    </tr>
                </thead>
                
                <tbody>
                    {{#each users}}
                    <tr>
                        <th><input type="checkbox" name="checked" value={{this.id}}></input></th>
                        <th>10</th>
                        <th><a href="users/{{this.id}}">{{this.username}}</a></th>
                        <th> <a href="users/{{this.id}}">{{this.nickname}}</a></th>
                        <th>{{makeDate this.createdAt}}</th>
                        <th>{{makeDate this.loginDate}}</th>
                        <th>{{this.loginCnt}}회</th>
                        {{!-- <th>2개</th> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </form>
        
        {{>pages}}
    </div>
    
</div>
