
<div class="cont">
    <div class="titlearea">
        <div class="title">입금확인중</div>
        <div class="nav">주문/클레임관리 > 입금확인중</div>
    </div>
    <div class="search_area">
        <form method="GET">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            
            <tbody>
                <tr>
                    <th>주문일자</th>
                    {{>date_search firstday=firstday}}
                </tr>
                
                <tr>
                    <th>상품명</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="title" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>주문번호</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="ordercode" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>주문자아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="username" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>판매스토어주소</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" name="url" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        
        <div class="serach_button" onclick="document.forms[0].submit()">검색하기</div>
       </form>
    </div>
    
    
    <div class="list_all">
        <div class="list_info">
            <div class="count">총 주문내역 : {{ordersCount}}건</div>
            <ul class="message_button">
                <li class="wh_button">엑셀다운로드</li>
            </ul>
        </div>
        
        <table cellpadding="0" cellspacing="0" class="list_table">
        
            <colgroup>
                <col style="width:3%;">
                <col style="width:72%;">
                <col style="width:12%;">
                <col style="width:13%;">
                
            </colgroup>
        
        
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="chooseAll()"></input></th>
                    <th>주문내역</th>
                    <th>주문자 이름 / 아이디</th>
                    <th>상태</th>
                    
                </tr>
            </thead>
            {{!-- {{orders}} --}}
            <tbody>
                
                {{#each orders}}
                <tr>
                    <th><input type="checkbox"></input></th>
                    <td>
                        <div class="order_info_box">
                            <div class="order_info">
                                주문번호 : {{this.ordercode.code}} ｜ 주문일자 : {{makeDate this.createdAt}}<br>
                                결제수단 : {{this.payinfo.measure}} 입금인 : {{this.payInfo.name}}
                            </div>
                                
                            <div class="all_price">총 결제금액 {{this.price}}</div>
                        </div>
                        
                        <div class="order_pro_info">
                            <div class="thum"><img src=""></div>
                            <div class="textarea">
                                <div class="pro_title">{{this.product.title}}</div>
                                <ul class="option_list">
                                    <li>예약일자 : {{this.startdate}}</li>
                                    <li>선택옵션 : {{this.option}}</li>
                                </ul>
                                <div class="info_view">서비스이용자 정보보기</div>
                            </div>
                        </div>
                    </td>
                    
                    <th>
                        {{this.buyer.name}}<br>
                        {{this.buyer.username}}
                    </th>
                    
                    <th>{{this.store.url}}</th>

                    <div class="order_info_show" style="display:none;">
                        <div class="layer_back_area"></div>
                        <div class="layer_area">
                            <div class="showbox">
                                <div class="showbox_cetearea">
                                    <div class="title">서비스이용자정보</div>
                                    <div class="close"><img src="/images/sub/showbox_close.png"></div>
                                </div>
                                
                                <div class="showbox_contents">                             
                                    <div class="grey_contents">
                                       {{this.store.url}}
                                       {{this.serviceUsers}}
                                        {{!-- {{#each this.serviceUsers}}
                                            {{this.korName}}<br>
                                        {{/each}} --}}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    
                    {{>service_users serviceUsers=this.serviceUsers}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        {{>pages}}
    </div>
    
</div>





<script>
    (function($){
        $(window).on("load",function(){
            $(".menuarea").mCustomScrollbar();
        });
    })(jQuery);
</script>

<script type="text/javascript">
    $(function(){
        $(".info_view").click(function(){
            $(".order_info_show").show();
        });
    });
    
    
    $(function(){
        $(".close").click(function(){
            $(".order_info_show").hide();
        });
    });
    
    
</script>

















<h1>ordered_index</h1>

<form method="get">
    시작날짜: <input type="date" name="startdate"><br>
    끝날짜: <input type="date" name="enddate"><br>
    상품명: <input type="text" name="title" ><br>
    주문번호: <input type="text" name="ordercode" ><br>
    주문자아이디: <input type="text" name="username" ><br>
    판매스토어주소: <input type="text" name="url" ><br>
    <input type="submit" value="제출"><br>
</form>

입금확인중: {{ordersCount}}
<form method="POST" name="ordersIndex"> 
    <input type="submit" value="삭제"><br>
    <input type="submit" onclick="chooseAll()" value="전체삭제"><br>

    {{#each orders}}  
        {{this.order.ordercode}}
        <input type="checkbox" name="checked" value={{this.order.id}} >
        <a href="/stores/ordered/{{this.order.id}}">{{this.product.title}}</a>
        <br>{{this.order.price}}
        <br>{{this.order.createdAt}}
        <br>{{this.ordercode.code}}
        <br>{{this.buyer.username}}
        <br>{{this.store.url}}
        <br>service users
        <br>{{#each this.serviceUsers}} {{this.korName}}{{/each}}
    {{/each}}
</form>

<a href="?page=1">1</a>
<a href="?page=2">2</a>
<a href="?page=3">3</a>
<a href="?page=4">4</a>
<a href="?page=4">5</a>