<div class="cont">
	<div class="titlearea">
		<div class="title">정산내역 조회</div>
		<div class="nav">매출/정산관리 > 정산내역 조회</div>
	</div>
	
	
	
	<div class="search_area">
		<form action="GET">
			<table class="serach_box" cellpadding='0' cellspacing='0'>
				<tbody>
					<tr>
						<th>기간검색</th>
						<td colspan="3">
							<div class="priod_box">
								<select class="inputstyle" id="change_date">
									<option value="0">전체</option>
									<option value="1">1개월</option>
									<option value="2">2개월</option>
									<option value="3">3개월</option>
									<option value="4">4개월</option>
								</select>
							</div>
						
							<div class="calendar_box"><input type="date" name="startdate" id="src_date" value={{firstday}}><span><img src="/images/sub/calendar.jpg"></span></div>
								<div>-</div>
								<div class="calendar_box"><input type="date" name="enddate" id="target_date" value={{enddate}}><span><img src="/images/sub/calendar.jpg"></span></div>
								<div class="priod_box">
								<select class="inputstyle" >
									<option>어제</option>
									
								</select>
							</div>
						</td>
						<td><div class="serach_button" onclick="document.forms[0].submit()">검색하기</div></td>
					</tr>			
				</tbody>
			</table>
		</form>
	</div>
		
	
	
	<div class="list_all">
		<div class="search_title">
			<div class="title">정산현황</div>
			<div class="stitle">* 정산예정금액은 정산보류 금액이 미반영된 금액입니다.</div>
		</div>
	
		<div class="tabarea">
			<div id="mainTitle_1" onclick="mainViewChg('1');" style="background-color:#2c2c2c; color:#fff; font-weight:bold;">정산 완료 건(xx)</div>
			<div id="mainTitle_2" onclick="mainViewChg('2');">정산 확정 건(xx)</div>
			<div id="mainTitle_3" onclick="mainViewChg('3');">정산 미확정 건(xx)</div>
		</div>
		
		<div class="tablearea" id="mainView_1">
			<table class="sales_table" cellpadding="0" cellspacing="0">
				<colgroup>
					<col style="width:33%;">
					<col style="width:33%;">
					<col style="width:33%;">
					
				</colgroup>
						
						
				<thead>
					<tr>
						<th>판매금액(A)</th>
						<th>공제금액(A)</th>
						<th>정산예정금액(A-B)</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td> {{withdrawnTotal}}원</td>
						<td> {{withdrawnTotalCost}}원</td>
						<td> {{subtract withdrawnTotal withdrawnTotalCost}}원</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="tablearea" id="mainView_2" style="display:none;">
			<table class="sales_table" cellpadding="0" cellspacing="0">
				<colgroup>
					<col style="width:33%;">
					<col style="width:33%;">
					<col style="width:33%;">
					
				</colgroup>
				
				<thead>
					<tr>
						<th>판매금액(A)</th>
						<th>공제금액(A)</th>
						<th>정산예정금액(A-B)</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td> {{settledTotal}}원</td>
						<td> {{settledTotalCost}}원</td>
						<td> {{subtract settledTotal settledTotalCost}}원</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="tablearea" id="mainView_3" style="display:none;">
			<table class="sales_table" cellpadding="0" cellspacing="0">
				<colgroup>
					<col style="width:33%;">
					<col style="width:33%;">
					<col style="width:33%;">
					
				</colgroup>
				
				<thead>
					<tr>
						<th>판매금액(A)</th>
						<th>공제금액(A)</th>
						<th>정산예정금액(A-B)</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td> {{unsettledTotal}}원</td>
						<td> {{unsettledTotalCost}}원</td>
						<td> {{subtract unsettledTotal unsettledTotalCost}}원</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<div class="list_all">
		<div class="search_title">
			<div class="title">정산상세내역</div>
		</div>
	
		<div class="list_info">
			<div class="count">조회된 정산수 : {{withdrawlsCount}}건</div>
		</div>
		
		<div class="tablearea">
			<table class="sales_table" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						{{!-- <th>번호</th> --}}
						<th>주문건수</th>
						<th>일자</th>
						<th>판매금액(A)</th>
						<th>공제금액(B)</th>
						<th>정산예정금액(A-B)</th>
						<th>상세내역</th>
					</tr>
				</thead>
				
				<tbody>
					{{#each withdrawls}}
					<tr>
						{{!-- <th></th> --}}
						<th>{{this.ordersCnt}}건</th>
						<th>{{makeDate this.createdAt}}</th>
						<th>{{this.total}}원</th>
						<th>{{this.totalCost}}원</th>
						<th>{{subtract this.total this.totalCost}}원</th>
						<th><div class="sales_view" onclick="document.location.href='/sales/withdraw/{{this.id}}'">보기</div></th>
						
						
					</tr>
					{{/each}}

				</tbody>
			</table>
		</div>
	</div>
	
</div>

{{!-- <div class="sales_ilst" style="display:none;">		
	<div class="layer_back_area"></div>
	<div class="layer_area">
		<div class="showbox">
			<div class="showbox_cetearea">
				<div class="title">매출내역</div>
				<div class="close"><img src="/images/sub/showbox_close.png"></div>
			</div>
			
			<div class="showbox_contents">										
					<div class="contents">
						<div class="list_all" style="border-top:0px; margin-top:-50px;">
							<table cellpadding="0" cellspacing="0" class="list_table02">
								<colgroup>
									<col style="width:3%;">
									<col style="width:5%;">
									<col style="width:70%;">
									<col style="width:11%;">
									<col style="width:11%;">	
								</colgroup>
							
								<thead>
									<tr>
										<th><input type="checkbox"></input></th>
										<th>번호</th>
										<th>주문내역</th>
										<th>주문자 이름 / 아이디</th>
										<th>상태</th>
										
									</tr>
								</thead>
								
								<tbody>
									{{#each orders}}
									<tr>
										{{>order_list}}
										<th>
											[발주확인]
										</th>
										
									</tr>
									{{>service_users}}
									{{/each}}
					
								</tbody>
							</table>
						
						</div>
					</div>
										
			</div>
			
		</div>
	</div>
</div> --}}


<script>
    $(function(){
        $(document).ready(function(){
          $(".sales_ilst").hide();
        });
    });

    $(function(){
        $(".sales_view").click(function(){
            $(".sales_ilst").show();
        });
    });
    
    
    $(function(){
        $(".close").click(function(){
            $(".sales_ilst").hide();
        });
    });

	function mainViewChg(no) {
		for(i=1; i<=10; i++) {
			$("#mainTitle_"+i).css("background-color", "#fff");
			$("#mainTitle_"+i).css("color", "#777777");
			$("#mainTitle_"+i).css("font-weight", "normal");
			$("#mainView_"+i).css("display", "none");
			$("#mainView_"+i).hide();
		}
		
		$("#mainTitle_"+no).css("background-color", "#2c2c2c");
		$("#mainTitle_"+no).css("color", "#fff");
		$("#mainTitle_"+no).css("font-weight", "bold");
		$("#mainView_"+no).css("display", "block");
		$("#mainView_"+no).show();
	}
    
    
</script>