<h1>faqs_show</h1>

<form action="" method="POST">
    {{!-- <select id="codes" name="faqcodeId">
        {{#each codes}}
            <option value={{this.code}}>{{this.code}}</option>
        {{/each}}
    </select><br> --}}
    **사용자, 스토어 체크할 것
    <select id="types" name="type">
        {{!-- javascript로 default value 표시해야 --}}
        <option value="A">사용자</option>
        <option value="B">스토어</option>
    </select><br>
    제목:<input type="text" name="title" value={{faq.title}}>
    내용:<input type="text" name="content" value={{faq.content}}>
    <input type="submit" value="제출">
</form>

<a href="/sites/faqs/{{faq.id}}/delete">삭제</a>