<h1>faqs_index</h1>
<form action="">
    <select name="code">
        {{#each faqcodes}}
            <option value={{this.code}}>{{this.code}}</option> 
        {{/each}}
    </select>
    <select name="type">
        <option value="">선택안함</option>
        <option value="A">사용자</option>
        <option value="B">스토어</option>
    </select>
    <input type="submit", value="제출">
</form>

<a href="/sites/faqs/add">FAQ 추가하기</a><br>

{{#each faqs}}
    <a href="/sites/faqs/{{this.id}}">{{this.title}}</a>
    {{!-- {{#if {{this.type}}=='A'}}
        일반FAQ
    {{else}}
        회사FAQ
    {{/if}} --}}
    {{!-- {{this.content}} --}}
    {{this.createdAt}}<br>
{{/each}}